{% extends "employees/base.html" %}
{% block body_block %}
  {% for value in val  %}
    <div class="container">
      <h1>Welcome {{user}}</h1>
      <div class="row">
        <div class="col-sm-5">
          <div class="card" style="width: 18rem;">
            <img src="{{value.profile_pic.get_url}}" alt="{{user|title}}" width="100%" height="250">
            <div class="card-body">
              <h5 class="card-title">{{user|title}}</h5>
              <p class="card-text">{{value.about_me}}</p>
              <a href="{% url 'employees:update_profile' %}" class="btn btn-primary">Update Profile</a>
            </div>
        </div>
        </div>
        <div class="col-sm">
          <h2>Employee Details</h2>
          Username: <b>{{user}}</b><br>
          Name: <b>{{user.first_name}}&nbsp;{{user.last_name}}</b><br>
          Email: <b>{{user.email}}</b><br>
          Description: <b>{{value.about_me}}</b><br><br>
          <a href="{% url 'employees:submit_report' %}" class="btn btn-primary" >Submit Report</a>
          <a href="{% url 'employees:view_reports' %}"  class="btn btn-primary">View All Submitted Reports</a>
          <a href="{% url 'employees:shared_reports' %}"  class="btn btn-primary">View All Shared Reports</a>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock body_block %}
